@(title: String, user: String, modifyProfesor: Form[forms.ModificacionProfesor], profesor: Profesor, content: Html, extraScripts:Html)

@import helper._

@implicitField = @{ FieldConstructor(constructorDeFormasIH.f) }

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>@title</title>
  <meta name="description" content="La mejor escuela de inglés del mundo">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/assets/stylesheets/bootstrap-3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/styles.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body>
  <div id="wrap"> 
  <header>
	<nav class="navbar navbar-inverse navbarMargin navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Bienvenido @user !</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="@(controllers.routes.CProfesor.index())">Inicio</a></li>
          <li><a href="@(controllers.routes.CProfesor.obtenerCursos())">Mis Cursos</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Alumnos</a></li>
              <li><a href="@(controllers.routes.CProfesor.obtenerCursos())">Horarios</a></li>

              <!-- <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li> -->
            </ul>
          </li>
        </ul>
        <!-- <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">Link</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acciones <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#modalModification" role="button" data-toggle="modal">Editar perfil</a></li>
              <li><a href="#">Privacidad</a></li>             
              <li><a href="#eliminarPerfil" role="button" data-toggle="modal">Eliminar perfil</a></li>
              <li class="divider"></li>
              <li><a href="@controllers.routes.CProfesor.cerrarSesionP">Salir</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
 </header>


<div class="modal fade bs-example-modal-sm" id="modalModification" tabindex="-1" role="dialog" aria-labelledby="modalRegistrationLabel" aria-hidden="true">
    <div id="modaldialogRegistration" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modalRegistrationLabel1">Editar datos</h4>
        </div>
        <div class="modal-body">
          <div id="successRegistration">
            <h3>Listo!</h3><br>
          </div>
          <div id="profesorRegistration">
            @helper.form(action = controllers.routes.CProfesor.modificarInformacionP(), 'class -> "form-horizontal", 'role -> "form", 'id -> "profesorModificationForm") {
              <fieldset>
                @inputText(
                    modifyProfesor("nombre"), 
                    '_label -> "Nombre(s)", 
                    '_error -> modifyProfesor.globalError,
                    'class -> "form-control"
                )
                @inputText(
                    modifyProfesor("apellidoPaterno"), 
                    '_label -> "Apellido Paterno", 
                    '_error -> modifyProfesor.globalError,
                    'class -> "form-control"
                )
                @inputText(
                    modifyProfesor("apellidoMaterno"), 
                    '_label -> "Apellido Materno", 
                    '_error -> modifyProfesor.globalError,
                    'class -> "form-control"
                )
                @inputText(
                    modifyProfesor("correoElectronico"), 
                    '_label -> "Correo Electrónico", 
                    '_error -> modifyProfesor.globalError,
                    'class -> "form-control"
                )
                @inputPassword(
                    modifyProfesor("contrasenaNueva"), 
                    '_label -> "Nueva Contraseña", 
                    '_error -> modifyProfesor.globalError,
                    'class -> "form-control"
                )
                @inputPassword(
                    modifyProfesor("confContrasena"), 
                    '_label -> "Confirmar Contraseña", 
                    '_error -> modifyProfesor.globalError,
                    'class -> "form-control"
                )
              </fieldset>
            }
          </div>
          <div id="footerprofesorModification" class="modal-footer">
            <button id="profesorModificationSubmit" type="submit" class="btn btn-primary">Guardar Cambios</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade bs-example-modal-sm" id="eliminarPerfil" tabindex="-1" role="dialog" aria-labelledby="modalRegistrationLabel" aria-hidden="true">
    <div id="modaldialogRegistration2" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modalRegistrationLabel2">Eliminar perfil</h4>
        </div>
        <div class="modal-body">
          <div id="profesorRegistration">
            @helper.form(action = controllers.routes.CProfesor.eliminaRegistroP(), 'class -> "form-horizontal", 'role -> "form", 'id -> "profesorEliminacionForm") {
              <fieldset>
               ¿Está seguro de que deseas eliminar su registro?
              </fieldset>
            }
          </div>
          <div id="footerprofesorEliminacion" class="modal-footer">
            <button id="profesorEliminacionSubmit" type="submit" class="btn btn-primary">Eliminar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid clear-top">
      <div id="content" style="margin-top:50px">
      @content
      </div>
    </div>
    <div id="pushh"></div>
  </div>

  
  <div id="footter">
  <footer>
    <p class="text-center">&copy; SourceCode Company 2014</p>
  </footer>
  </div>



  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster 
-->
  <script src="/assets/javascripts/jquery-1.9.0.min.js"></script>
  <script src="/assets/javascripts/bootstrap-3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#modalModification').modal({show:false});
      $('#successRegistration').hide();
      $('#profesorModificationSubmit').on('click', function(e){
          e.preventDefault();
          $('#profesorModificationForm').submit(function(e){
            e.preventDefault();
            var formData = new FormData($(this)[0]);
            $.ajax({
              url: '@(controllers.routes.CProfesor.modificarInformacionP())',
              type: 'POST',
              data: $(this).serialize(),
              success: function(e){
                // $('#professorRegistration').html("<h2>Listo!</h2><br><h3>Ya puedes iniciar sesión</h3>");
                // $('#professorRegistration').show(400);
                // $('#footerstockRegistration').show(400);
                $('#successRegistration').show(400);
                $('#profesorRegistration').html(e);
              },
              error: function(jqXHR, exception) {
                console.log('quepedo');
                console.log(jqXHR);
                $('#profesorRegistration').html(jqXHR.responseText);
              }
            });
          });
          $('#profesorModificationForm').submit();
      });
      $('#eliminarPerfil').modal({show:false});
      $('#profesorEliminacionSubmit').on('click', function(e){
          e.preventDefault();
          $('#profesorEliminacionForm').submit();
      });
      $('#modalModification').on('hidden.bs.modal', function (e) {
        $('#successRegistration').hide();
      });
    });
    @extraScripts
  </script>
</body>
</html> 
