@(title: String, user: String, modifyProfesor: Form[forms.ModificacionProfesor], profesor: Profesor, cursos: List[Curso])

@extraScripts = {
    $('.del').each(function(){
      var id = $(this).attr('data-pk');
      //console.log(id);
      $(this).on('click', function(e){
        e.preventDefault();
        $.ajax({
          url: '@(controllers.routes.CProfesor.eliminarCursoP())',
          type: 'POST',
          data: {"idCurso":id},
          success: function(data){
            window.location.replace('@(controllers.routes.CProfesor.obtenerCursos())');
          }
        });
      });
    });
    $('.auth').each(function(){
      var id = $(this).attr('data-pk');
      //console.log(id);
      $(this).on('click', function(e){
        e.preventDefault();
        $.ajax({
          url: '@(controllers.routes.CProfesor.autorizarCurso())',
          type: 'POST',
          data: {"idCurso":id},
          success: function(data){
            window.location.replace('@(controllers.routes.CProfesor.obtenerCursos())');
          }
        });
      });
    });
}

@lis={
<li><a href="@(controllers.routes.CProfesor.index())">Inicio</a></li>
<li class="active"><a href="@(controllers.routes.CProfesor.obtenerCursos())">Mis Cursos</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="#">Alumnos</a></li>
    <li><a href="@(controllers.routes.CProfesor.obtenerCursos())">Horarios</a></li>
  </ul>
</li>
}

@content = {
  <div class="container padContainer">  
    <!-- <div class="row">
      <h1>Éxito</h1>
      <h2>Hola @user !</h2>
    </div> -->
    <div class="row">
      <div class="col-md-12">
      <div class="row">
        <div class="col-md-9">
        <h3>Lista de cursos creados :</h3>
        </div>
        <div class="col-md-3">
          <a href="@(controllers.routes.CProfesor.agregarCursoP(true))" class="btn btn-primary pull-right" role="button">Crear curso</a>
        </div>
      </div>
      <div class="row well well-small">
        <div class="col-md-12">
        @if(!cursos.isEmpty){
          <table class="table table-condensed ">
            <thead>
              <tr>
              <th>Nivel</th>
              <th>Dia</th>
              <th>Hora</th>
              <th>Alumno</th>
              <th>Calificacion</th>
              <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            @for(c <- cursos) {
                <tr>
                <td>@c.getNivel()</td>
                @for(h <- c.getHorarios()) {
                  <td>@h.getDia()</td>
                  <td>@h.getHoraInicio() - @h.getHoraFin()</td>
                }
                @if(c.getAlumno() != null){
                <td>@(c.getAlumno().getNombre()+ " " +c.getAlumno().getApellidoPaterno())</td>
                }else{
                <td>No hay alumno registrado</td>
                }
                <td>@c.getCalificacion()</td>
                <td>
                  <p>
                    <a href="@(controllers.routes.CProfesor.modificarCursoP(c.getId()))" class="btn btn-primary btn-xs edit" role="button"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                    @if(c.getAlumno() != null && c.getAutorizado() == false){
                    <button data-pk="@c.getId()" class="btn btn-primary btn-xs auth" role="button">Autorizar</button>
                    }
                    <button data-pk="@c.getId()" class="btn btn-danger btn-xs del" role="button"><span class="glyphicon glyphicon-remove"></span> Eliminar</button>
                  </p>
                </td>
                </tr>
              }
            </tbody>
          </table>
        } else {
         <h3>¡ Aún no has creado cursos !</h3>
        }
        </div>
      </div>
      </div>
    </div>
  </div>
}

@principalProfesorIH(title, user, modifyProfesor, profesor, content, extraScripts, lis)