@(modifyProfesor: Form[forms.ModificacionProfesor], profesor: Profesor)
@import forms._
@import helper._

@implicitField = @{ FieldConstructor(constructorDeFormasIH.f) }


<form id="profesorModificationForm" class="form-horizontal" role="form" method="POST">
    @helper.inputText(
        modifyProfesor("nombre"), 
        '_label -> "Nombre(s)", 
        '_error -> modifyProfesor.globalError,
        'class -> "form-control"
    )
    @helper.inputText(
        modifyProfesor("apellidoPaterno"), 
        '_label -> "Apellido Paterno", 
        '_error -> modifyProfesor.globalError,
        'class -> "form-control"
    )
    @helper.inputText(
        modifyProfesor("apellidoMaterno"), 
        '_label -> "Apellido Materno", 
        '_error -> modifyProfesor.globalError,
        'class -> "form-control"
    )
    <div class="form-group">
        <label for="correoElectronico" class="col-sm-3 control-label">Correo Electrónico</label>
        <div class="col-sm-8">
            <p class="control-form-static">@profesor.getCorreoElectronico()</p>
        </div>
    </div>
    @helper.inputPassword(
        modifyProfesor("contrasenaNueva"), 
        '_label -> "Contraseña", 
        '_error -> modifyProfesor.globalError,
        'class -> "form-control"
    )
    @helper.inputPassword(
        modifyProfesor("confContrasena"), 
        '_label -> "Confirmar Contraseña", 
        '_error -> modifyProfesor.globalError,
        'class -> "form-control"
    )
</form>