.jumbotronBackground {
	color: white;
	background-position: 20% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.jumbotronBackgroundTextShadow
{
    text-shadow: black 0.2em 0.2em 0.2em;
}

.padContainer {
	padding-top: 30px;
}

.separateContainers {
	padding-left: 20px;
}

.navbarMargin {
	margin-bottom: 0px;
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 205px;
  margin: 20px 0 0;
  
}

.bs-docs-sidenav.affix {
  top: 80px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.backgroundImagePositioning {
  background-position: 20% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}