.jumbotronBackground {
	color: white;
	background-position: 100% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.profesoresBackground {
  background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.conocenosBackground {
  background-position: 50% 99%;
    background-size: cover;
    background-repeat: no-repeat;
}


.contactoBackground {
  background-position: 50% 15%;
    background-size: cover;
    background-repeat: no-repeat;
}


.jumbotronBackgroundTextShadow
{
    text-shadow: black 0.2em 0.2em 0.2em;
}

.padContainer {
	padding-top: 15px;
}

.separateContainers {
	padding-left: 20px;
}

.navbarMargin {
	margin-bottom: 0px;
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 205px;
  margin: 20px 0 0;
  
}

.bs-docs-sidenav.affix {
  top: 80px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.backgroundImagePositioning {
  background-position: 20% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.paddingCollapse {
  padding-left: 8%;
  padding-right: 8%;
}


.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 30% auto -4em;
}
.footer, .push {
height: 4em;
}


.pushDownWhite {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 15% auto -4em;
position: fixed;
right: 0;
left: 0;
background-color:#FFFFFF
}


.padUpDown {
padding-top: 20px;
padding-bottom: 20px;
}

.padSides {
  padding-left: 15px;
  padding-right: 15px;
}

.headerDivider {
     border-right:1px solid #dadada; 
     height:80%;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#pushh,
#footter {
  height: 60px;
}
#footter {
  /*background-color: #f5f5f5;*/
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footter {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#main {  
    border-radius: 10px;
    color:#3c4049;
    background-color: white;
    margin:10px;
    padding-top:10px;
    padding-bottom:10px;
}