.jumbotronBackground {
	color: white;
	background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.profesoresBackground {
  background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.conocenosBackground {
  background-position: 50% 99%;
    background-size: cover;
    background-repeat: no-repeat;
}


.contactoBackground {
  background-position: 50% 15%;
    background-size: cover;
    background-repeat: no-repeat;
}


.jumbotronBackgroundTextShadow
{
    text-shadow: black 0.2em 0.2em 0.2em;
}

.padContainer {
	padding-top: 30px;
}

.separateContainers {
	padding-left: 20px;
}

.navbarMargin {
	margin-bottom: 0px;
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 205px;
  margin: 20px 0 0;
  
}

.bs-docs-sidenav.affix {
  top: 80px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.backgroundImagePositioning {
  background-position: 20% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.paddingCollapse {
  padding-left: 8%;
  padding-right: 8%;
}


.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 30% auto -4em;
}
.footer, .push {
height: 4em;
}


.pushDownWhite {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 14% auto -4em;
position: fixed;
right: 0;
left: 0;
background-color:#FFFFFF
}


column {
  padding-left: 0px;
  padding-right: 0px;
}

.headerDivider {
     border-right:1px solid #dadada; 
     height:80%;
 
}