@(title: String, user: String, modifyAlumno: Form[forms.ModificacionAlumno], alumno: Alumno, cursos: List[Curso])

@extraScripts={}

@lis={
  <li><a href="@(controllers.routes.CAlumno.index())">Inicio</a></li>
  <li><a href="@(controllers.routes.CAlumno.obtenerHorario())">Mi Horario</a></li>
  <li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="@(controllers.routes.CAlumno.obtenerProfesores())">Mis Profesores</a></li>
      <li><a href="@(controllers.routes.CAlumno.obtenerCursos())">Horarios</a></li>
    </ul>
  </li>
}

@content={
<div class="container padContainer">
    <div class="row">
      <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
        <h3>Lista de profesores :</h3>
        </div>
      </div>
      <div class="row well well-small">
        <div class="col-md-12">
        @if(!cursos.isEmpty){
          <table class="table table-condensed ">
            <thead>
              <tr>
              <th>Profesor</th>
              <th>Nivel</th>
              <th>Calificación</th>
              <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            @for(c <- cursos) {
              <tr>
                <td>@(c.getProfesor().getNombre()+ " " +c.getProfesor().getApellidoPaterno())</td>
                <td>@c.getNivel()</td>
                <td>@c.getCalificacion()</td>
                <td>
                  <p>
                    <a href="@(controllers.routes.CAlumno.verCursoA(c.getId()))" class="btn btn-primary btn-xs" role="button">Ver</a>
                  </p>
                </td>
              </tr>
            }
            </tbody>
          </table>
        } else {
         <h3>¡ Aún no te has inscrito en algún curso !</h3>
        }
        </div>
      </div>
      </div>
    </div>
  </div>
}

@principalAlumnoIH(title, user, modifyAlumno, alumno, content, extraScripts, lis)