@(alumnoLoginForm: Form[forms.InicioSesionAlumno])
@import forms._
@import helper._

@implicitField = @{ FieldConstructor(constructorDeFormas.f) }

<form id="studentLoginForm" class="form-horizontal" role="form" method="POST">
    @helper.inputText(
        alumnoLoginForm("correoElectronico"), 
        '_label -> "E-mail", 
        '_error -> alumnoLoginForm.globalError,
        'class -> "form-control"
    )
    @helper.inputPassword(
        alumnoLoginForm("contrasena"), 
        '_label -> "Contraseña", 
        '_error -> alumnoLoginForm.globalError,
        'class -> "form-control"
    )
</form>