@(title: String, user: String, modifyAlumno: Form[forms.ModificacionAlumno], alumno: Alumno, cursos: List[Curso])

@extraScripts = {
  $('.register').each(function(){
      var id = $(this).attr('data-pk');
      //console.log(id);
      $(this).on('click', function(e){
        e.preventDefault();
        $.ajax({
          url: '@(controllers.routes.CAlumno.agregarCursoA())',
          type: 'POST',
          data: {"idCurso":id},
          success: function(data){
            window.location.replace('@(controllers.routes.CAlumno.index())');
          }
        });
      });
    });
}

@lis={
  <li><a href="@(controllers.routes.CAlumno.index())">Inicio</a></li>
  <li><a href="#">Mi Horario</a></li>
  <li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">Profesores</a></li>
      <li><a href="@(controllers.routes.CAlumno.obtenerCursos())">Horarios</a></li>
      <li><a href="#">Mis cursos inscritos</a></li>
    </ul>
  </li>
}

@content = {
  <div class="container padContainer">  
    <!-- <div class="row">
      <h1>Éxito</h1>
      <h2>Hola @user !</h2>
    </div> -->
    <div class="row">
      <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
        <h3>Lista de cursos disponibles :</h3>
        </div>
      </div>
      <div class="row well well-small">
        <div class="col-md-12">
        @if(!cursos.isEmpty){
          <table class="table table-condensed ">
            <thead>
              <tr>
              <th>Nivel</th>
              <th>Dia</th>
              <th>Hora</th>
              <th>Profesor</th>
              <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            @for(c <- cursos) {
              @if(c.getAlumno() == null) {
                <tr>
                <td>@c.getNivel()</td>
                @for(h <- c.getHorarios()) {
                  <td>@h.getDia()</td>
                  <td>@h.getHoraInicio() - @h.getHoraFin()</td>
                }
                <td>@(c.getProfesor().getNombre()+ " " +c.getProfesor().getApellidoPaterno())</td>
                <td><button data-pk="@c.getId()" class="btn btn-primary btn-xs register" role="button">Registrar curso</button></td>
                </tr>
              }
            }
            </tbody>
          </table>
        } else {
         <h3>¡ Aún no hay cursos abiertos!</h3>
        }
        </div>
      </div>
      </div>
    </div>
  </div>
}

@principalAlumnoIH(title, user, modifyAlumno,alumno, content, extraScripts, lis)